@charset "UTF-8";
/* CSS Document */

.container {
	/*
	make this work
	width: 100%;
	height: 100%;
	*/
	width: 290px;
	height: 280px;
	margin: 5px;
	padding: 1px;
	/* background-color:#000; */
	position: absolute;
}

.pixel {
	float: left;
	width: 6px;
	height: 6px;
	margin: 1px;
	font-size: 9px;
	text-align: center;
}

a.pixel:link, a.pixel:visited {
	background-color:#0FC;
}

a.pixel:hover {
	background-color:#F30;
}

a.pixel:active {
	background-color:#FC0;
}